{% extends 'base.html'%}

{% block content%}
    <div id="root_index">
      <section class="banniere">
        <div>
          <br><br><br>
          <div id="logo">
            <p>SxP</p>
          </div>
          <br><br>
        </div>
        <div>
          <p>
            Projet concernant l'étude des données de l'assurance maladie (DAMIR) <br>
            Dans ce projet Django est affiché quelques exemples de graphique qu'on peut retrouver dans notre notebook détaillée.<br>
            Il est préférable de d'abord regarder le notebook avant de regarder ce site, pour vous permettre de mieux comprendre d'où ils viennent.
          </p>
        </div>
      </section>
      <section class="para">
        <p style="text-align: justify; width:60%;margin: 100px auto;">
          Dans le cadre du problème de Machine Learning, nous avons réaliser en  binôme, une interface en Django permettant visualiser des études graphiques et interprétations.
        </p>
      </section>
      
      

    </div>

{%endblock%}